<h1 mat-dialog-title>Dados cadastrado:</h1>
<div mat-dialog-content>
      <ul>
        <li><strong>Nome:</strong> {{recebeDados.get('nome').value}} </li>
        <li><strong>Sobrenome:</strong> {{recebeDados.get('sobrenome').value}} </li>
        <li><strong>CPF:</strong> {{recebeDados.get('cpf').value}} </li>
        <li><strong>Data:</strong> {{recebeDados.get('data').value}} </li>
        <li><strong>CEP:</strong> {{recebeDados.get('cep').value}} </li>
        <li><strong>Rua:</strong> {{recebeDados.get('rua').value}} </li>
        <li><strong>Número:</strong> {{recebeDados.get('numero').value}} </li>
        <li><strong>Bairro:</strong> {{recebeDados.get('bairro').value}} </li>
        <li><strong>Cidade:</strong> {{recebeDados.get('cidade').value}} </li>
        <li><strong>UF:</strong> {{recebeDados.get('uf').value}} </li>

      </ul>
</div>
