
<header>

  <mat-toolbar>

    <div class="example-button-container">
      <button mat-fab color="#3498db" aria-label="Example icon button with a home icon">
       <a href="http://localhost:4200"> <mat-icon>home</mat-icon> </a>
      </button>
    </div>

    <div class="options">

      <a mat-raised-button href="http://localhost:4200/cadastrar" class="link">Cadastrar</a>
      
      <a mat-raised-button href="http://localhost:4200/pesquisar" class="link">Pesquisar</a>
      
      <a mat-raised-button href="http://localhost:4200/editar" class="link">Editar</a>
      <a mat-raised-button href="http://localhost:4200/excluir" class="link">Excluir</a>

      </div>
  </mat-toolbar>

</header>



<section>

<router-outlet></router-outlet>
</section>
